.clothes-selection{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    padding-left: 116px;
}

.clothes-selection__list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.clothes-selection__text{
    padding-right: 20px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Cabinet Grotesk";
}

.clothes-selection__add-button{
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    font-family: "Cabinet Grotesk";
    color: #00000099;
}

.clothes-selection__add-button:hover{
    cursor: pointer;
}