.sidebar{
    display: flex;
    flex-direction: column;
}

.sidebar__profile-info{
    display: flex;
}

.sidebar__avatar{
    width: 56px;
    height: 56px;
    margin-right: 16px;
    border-radius: 50%;
}

.sidebar__username{
    font-size: 20px;
    margin: 0;
    padding-top: 19px;
    font-family: "Cabinet Grotesk";
    font-weight: 700;
}

.sidebar__profile-properties{
    margin-top: 24px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
}

.sidebar__edit-profile-button:hover{
    cursor: pointer;
}

.sidebar__logout-button:hover{
    cursor: pointer;
}