.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000004d;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__close {
  width: 20px;
  height: 20px;
  border: none;
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url("/src/images/close.png");
  background-repeat: no-repeat;
  background-color: #fff;
  cursor: pointer;
}

.modal__title {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.modal__content {
  width: 496px;
  height: 436px;
  position: relative;
  padding: 28px 28px 36px;
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin-top: 24px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__input {
  display: block;
  width: 100%;
  padding: 0;
  margin-top: 8px;
  border: none;
  border-bottom: 1px solid #000;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__legend {
  padding: 24px 0 12px;
}

.modal__label_type_radio {
  margin: 0;
  padding-top: 8px;
  color: #00000080;
}

.modal__radio-input {
  margin-right: 8px;
}

.modal__actions {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
}

.modal__button-note {
  font-family: "Cabinet Grotesk";
  font-weight: 500;
  font-size: 14px;
  color: #00000099;
}

.modal__submit {
  width: 124px;
  height: 36px;
  background-color: #000000;
  border-radius: 4px;
  border: none;
  color: #fff;
}

.modal__submit:hover {
  background-color: #00000099;
}

.modal__submit:disabled {
  background-color: #0000004d;
}

#login-modal.modal__content,
#login-modal .modal__content {
  height: 304px;
}

#register-modal.modal__content,
#register-modal .modal__content {
  height: 456px;
}

#edit-profile-modal.modal__content,
#edit-profile-modal .modal__content {
  height: 304px;
}

#logout-modal.modal__actions,
#logout-modal .modal__actions{
  display: flex;
  justify-content: center;
}

#logout-modal .logout-modal__title,
#logout-modal .logout-modal__title {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

#logout-modal .modal__content,
#logout-modal.modal__content {
  width: 400px;
  height: 200px;
}
