.card{
    width: 323px;
    height: 326px;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 16px 8px;
}

.card:hover{
    cursor: pointer;
}

.card__name{
    position: absolute;
    top: 15px;
    margin: 0;
    font-family: "Cabinet Grotesk";
    color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
    font-weight: 700;
    line-height: 20px;
    width: 73px;
    height: 24px;
    background-color: transparent;
    text-align: center;
}

.card__img{
    width: 100%;
    border: 1px solid #0000004D;
    border-radius: 16px;
}

.card__like_button{
    background-image: url(../../images/Heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: 25px 25px;
    width: 40px;
    height: 40px;
    display: flex;
    align-self: flex-end;
    position: absolute;
    border: none;
    padding: 0;
}

.card__like_button:hover{
    cursor: pointer;
}