.modal__content_type_image {
    width: 498px;
    height: 610px;
    padding: 0;
}

.modal__close_type_image {
    background-image: url("/src/images/white-close.png");
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.modal__image {
    height: 498px;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.modal__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 32px 32px;
}

.modal__caption {
    font-family: "Cabinet Grotesk";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}

.modal__weather {
    font-family: "Cabinet Grotesk";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 12px;
    margin: 0;
}

.modal-delete__button{
    color: #FF4D00;
    background-color: transparent;
    padding: 0;
    font-family: "Cabinet Grotesk";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    border: none;
    cursor: pointer;
}

.modal-delete__button_hidden {
    display: none;
}

.modal-like__button{
    background: transparent url(../../images/Heart.svg) no-repeat center;
    overflow: auto;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    cursor: pointer;
}

.modal-like__button:hover {
    opacity: 50%;
}