.modal__content_type_image {
    width: 498px;
    height: 610px;
    padding: 0;
}


.modal__close_type_image {
    background-image: url("/src/images/white-close.png");
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.modal__image {
    height: 498px;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.modal__footer {
    margin: 20px 0 32px 20px;
}

.modal__caption {
    font-family: "Cabinet Grotesk";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}

.modal__weather {
    font-family: "Cabinet Grotesk";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 12px;
    margin: 0;
}